# Lab #1

In [1]:
print("Hello CINF135!")

Hello CINF135!

In [2]:
!python3 -V

Python 3.11.6

In [3]:
!pip3 install numpy pandas

Collecting numpy
  Using cached numpy-1.26.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (115 kB)
Collecting pandas
  Using cached pandas-2.2.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hotal/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.4-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/hotal/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached numpy-1.26.3-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
Using cached pandas-2.2.0-cp311-cp311-macosx_11_0_arm64.whl (11.8 MB)
Downloading pytz-2023.4-py2.py3-none-any.whl (506 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 506.5/506.5 kB 5.0 MB/s eta 0:00:00a 0:00:01
Using cached tzdata-2023.4-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.3 pandas-2.2.0 pytz-2023.4 tzdata-2023.4

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [4]:
import numpy

x = numpy.array([1,2,3,4])

print(x)

[1 2 3 4]

In [5]:
import pandas as pd

df = pd.read_csv('data/iris_dataset.csv')
df.head()

/var/folders/jw/t6bphvzn5r7gjmjp15mgkv0h0000gr/T/ipykernel_2682/3336458992.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [6]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  149 non-null    float64
 1   sepal width (cm)   147 non-null    float64
 2   petal length (cm)  147 non-null    float64
 3   petal width (cm)   148 non-null    float64
 4   target             149 non-null    float64
dtypes: float64(5)
memory usage: 6.0 KB

In [8]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,149.000000,147.000000,147.000000,148.000000,149.000000
mean,5.849664,3.060544,3.744898,1.200000,0.993289
std,0.827208,0.438640,1.779879,0.759341,0.817847
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.550000,0.300000,0.000000
50%,5.800000,3.000000,4.400000,1.300000,1.000000
75%,6.400000,3.350000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000